* {
	// position: relative;
	margin: 0;
	padding: 0;
}



html {
  max-width: 100%;
  overflow-x: hidden;
  font-size: 100%;
}

body{
  position: relative;
  font: 100%;
  color: $text-color;
  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
  width:100%;
  line-height: 1.5rem;
  height:100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  zoom:1;
  font-style: normal!important;
  font-family: $regular-font-name;
  background-color:$background-color;

  @include breakpoint(sm) {

    
  }

}



// Clearing

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */






//display

.base-line-height{
    line-height:$baseline;
}

.small-line-height{
    line-height:18px;
}

.full-width{
    width:100%;
}

.max-width{
    max-width:100%;
}

.display-block{
    display:block;
}

.inline-block{
    display:inline-block;
}

.inline{
    display:inline;
}

.position-relative{
  position:relative;
}

//backgrounds

.primary-bg{
  background-color:$primary-color;
  @extend %white_text;
}

.cursor-pointer{
  cursor:pointer;
}

hr{
  border-color:$border-color;
}
