// typography baselines and @font face setups


//fontss

@import url('https://fonts.googleapis.com/css?family=Lato');

@font-face {
    font-family: 'socialicoregular';
    src: url('../fonts/socialico-webfont.eot');
    src: url('../fonts/socialico-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/socialico-webfont.woff') format('woff'),
         url('../fonts/socialico-webfont.ttf') format('truetype'),
         url('../fonts/socialico-webfont.svg#socialicoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'socialico_plusregular';
    src: url('../fonts/socialico_plus-webfont.woff2') format('woff2'),
         url('../fonts/socialico_plus-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



.text-columns-2{
  @include columns($text-column-gutter-width 2);
}
.text-columns-3{
  @include columns($text-column-gutter-width 3);
}
.text-columns-4{
  @include columns($text-column-gutter-width 4);
}

.text-uppercase{
  text-transform:uppercase;
}

.text-color{
  color:$text-color;
}

.facebook-text-color{
  color:#3B5998!important;
}

.twitter-text-color{
  color:#1DA1F2!important;
}

.body-text-color{
  color:$body-text-color;
}

.dark-text-color{
  color:$dark-text-color;
}

.light-text-color{
  color:$light-text-color!important;
}

.extra-light-text-color{
  color:$extra-light-text-color!important;
}

.text-success{
  color:$green-color;
}

.text-warning{
  color:$warning-color;
}

.link-color{
  color:$link-color!important;
}


//fonts families

.headline-font-name{
    font-family:$headline-font-name;
}

.regular-font-name{
    font-family:$regular-font-name;
}

.medium-font-name{
    font-family:$medium-font-name!important;
}

.bold-font-name{
    font-family:$bold-font-name!important;
    font-weight:700;
}

.social-font-name{
    font-family:$social-font-name;
}




//fonts color

.primary-text-color{
  color:$primary-color!important;
  p{
    color:$primary-color!important;
  }
}

.secondary-text-color{
  color:$secondary-color!important;
  p{
    color:$secondary-color!important;
  }
}

//fonts size






//fonts base



h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}
h1, h2, h3, h4, h5, h6, p {

  margin-bottom:$baseline/1.4;

}





h1 {
  @include fontSize(44px);
}
h2 {
  @include fontSize(32px);
}
h3 {
  @include fontSize(23px);
  letter-spacing: -0.3px;
}
h4 {
  @include fontSize(18px);
  line-height: 1.6rem;
}
h5 {
  @include fontSize(13px);
  line-height: 1.1rem;
}
h6 {
  @include fontSize(11px);
  text-transform: uppercase;
  letter-spacing: 1px;
}


p{
  @include fontSize(16px);
  line-height: 24px;
  color:$body-text-color;
  margin-bottom:$baseline/2;
}



//mobile

  @include breakpoint(sm) {


  }
