%nav.navbar.navbar-default.primary-nav
	.container
		.navbar-header
			.navbar-brand
				Fraud Cancelations App
		%ul.nav.navbar-nav.navbar-right.hidden-xs{:style=>"padding-top:18px;"}
			%li
				%p.extra-light-text-color
					V 1.0

