@import url(lib/font-awesome.css);
@import url(lib/bootstrap.css);
@import url("https://fonts.googleapis.com/css?family=Lato");
/* line 2, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_extends.scss */
.primary-bg h1, section.invert-section h1, .primary-bg h2, section.invert-section h2, .primary-bg h3, section.invert-section h3, .primary-bg h4, section.invert-section h4, .primary-bg h5, section.invert-section h5, .primary-bg h6, section.invert-section h6, .primary-bg p, section.invert-section p, .primary-bg small, section.invert-section small, .primary-bg li, section.invert-section li {
  color: white !important; }

/* line 1, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_base.scss */
* {
  margin: 0;
  padding: 0; }

/* line 9, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_base.scss */
html {
  max-width: 100%;
  overflow-x: hidden;
  font-size: 100%; }

/* line 15, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_base.scss */
body {
  position: relative;
  font: 100%;
  color: #637081;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
  width: 100%;
  line-height: 1.5rem;
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  zoom: 1;
  font-style: normal !important;
  font-family: "lato", "Helvetica", serif;
  background-color: #EEF4F8; }

/* line 42, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_base.scss */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

/* line 50, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_base.scss */
* html .clearfix {
  zoom: 1; }

/* IE6 */
/* line 51, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_base.scss */
*:first-child + html .clearfix {
  zoom: 1; }

/* IE7 */
/* line 60, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_base.scss */
.base-line-height {
  line-height: 28px; }

/* line 64, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_base.scss */
.small-line-height {
  line-height: 18px; }

/* line 68, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_base.scss */
.full-width {
  width: 100%; }

/* line 72, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_base.scss */
.max-width {
  max-width: 100%; }

/* line 76, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_base.scss */
.display-block {
  display: block; }

/* line 80, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_base.scss */
.inline-block {
  display: inline-block; }

/* line 84, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_base.scss */
.inline {
  display: inline; }

/* line 88, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_base.scss */
.position-relative {
  position: relative; }

/* line 94, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_base.scss */
.primary-bg {
  background-color: #00AEEF; }

/* line 99, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_base.scss */
.cursor-pointer {
  cursor: pointer; }

/* line 103, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_base.scss */
hr {
  border-color: #E5E9EC; }

@font-face {
  font-family: 'socialicoregular';
  src: url("../fonts/socialico-webfont.eot");
  src: url("../fonts/socialico-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/socialico-webfont.woff") format("woff"), url("../fonts/socialico-webfont.ttf") format("truetype"), url("../fonts/socialico-webfont.svg#socialicoregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'socialico_plusregular';
  src: url("../fonts/socialico_plus-webfont.woff2") format("woff2"), url("../fonts/socialico_plus-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/* line 31, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_typography.scss */
.text-columns-2 {
  -webkit-columns: 28px 2;
  -moz-columns: 28px 2;
  columns: 28px 2; }

/* line 34, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_typography.scss */
.text-columns-3 {
  -webkit-columns: 28px 3;
  -moz-columns: 28px 3;
  columns: 28px 3; }

/* line 37, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_typography.scss */
.text-columns-4 {
  -webkit-columns: 28px 4;
  -moz-columns: 28px 4;
  columns: 28px 4; }

/* line 41, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_typography.scss */
.text-uppercase {
  text-transform: uppercase; }

/* line 45, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_typography.scss */
.text-color {
  color: #637081; }

/* line 49, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_typography.scss */
.facebook-text-color {
  color: #3B5998 !important; }

/* line 53, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_typography.scss */
.twitter-text-color {
  color: #1DA1F2 !important; }

/* line 57, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_typography.scss */
.body-text-color {
  color: #637081; }

/* line 61, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_typography.scss */
.dark-text-color {
  color: #354052; }

/* line 65, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_typography.scss */
.light-text-color {
  color: #71787E !important; }

/* line 69, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_typography.scss */
.extra-light-text-color {
  color: #B4BBC6 !important; }

/* line 73, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_typography.scss */
.text-success {
  color: #39B54A; }

/* line 77, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_typography.scss */
.text-warning {
  color: #ffd266; }

/* line 81, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_typography.scss */
.link-color {
  color: #00AEEF !important; }

/* line 88, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_typography.scss */
.headline-font-name {
  font-family: "lato", "Helvetica", serif; }

/* line 92, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_typography.scss */
.regular-font-name {
  font-family: "lato", "Helvetica", serif; }

/* line 96, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_typography.scss */
.medium-font-name {
  font-family: "lato", "Helvetica", serif !important; }

/* line 100, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_typography.scss */
.bold-font-name {
  font-family: "lato", "Helvetica", serif !important;
  font-weight: 700; }

/* line 105, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_typography.scss */
.social-font-name {
  font-family: "socialicoregular", "Helvetica", serif; }

/* line 114, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_typography.scss */
.primary-text-color {
  color: #00AEEF !important; }
  /* line 116, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_typography.scss */
  .primary-text-color p {
    color: #00AEEF !important; }

/* line 121, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_typography.scss */
.secondary-text-color {
  color: #39B54A !important; }
  /* line 123, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_typography.scss */
  .secondary-text-color p {
    color: #39B54A !important; }

/* line 139, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_typography.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit; }

/* line 142, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_typography.scss */
h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 20px; }

/* line 152, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_typography.scss */
h1 {
  font-size: 44px;
  font-size: 2.75rem; }

/* line 155, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_typography.scss */
h2 {
  font-size: 32px;
  font-size: 2rem; }

/* line 158, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_typography.scss */
h3 {
  font-size: 23px;
  font-size: 1.4375rem;
  letter-spacing: -0.3px; }

/* line 162, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_typography.scss */
h4 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.6rem; }

/* line 166, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_typography.scss */
h5 {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 1.1rem; }

/* line 170, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_typography.scss */
h6 {
  font-size: 11px;
  font-size: 0.6875rem;
  text-transform: uppercase;
  letter-spacing: 1px; }

/* line 177, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_typography.scss */
p {
  font-size: 16px;
  font-size: 1rem;
  line-height: 24px;
  color: #637081;
  margin-bottom: 14px; }

/* line 1, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_links_buttons.scss */
a {
  color: #00AEEF; }
  /* line 3, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_links_buttons.scss */
  a:hover {
    color: #008bbf;
    text-decoration: none; }

/* line 2, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.margin-auto {
  margin: 0 auto; }

/* line 5, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.margin {
  margin: 28px !important; }

/* line 8, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.margin-top {
  margin-top: 28px !important; }

/* line 11, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.margin-right {
  margin-right: 28px !important; }

/* line 14, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.margin-bottom {
  margin-bottom: 28px !important; }

/* line 17, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.margin-left {
  margin-left: 28px !important; }

/* line 20, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.double-margin-top {
  margin-top: 56px !important; }

/* line 23, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.double-margin-right {
  margin-right: 56px !important; }

/* line 26, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.double-margin-bottom {
  margin-bottom: 56px !important; }

/* line 29, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.double-margin-left {
  margin-left: 56px !important; }

/* line 32, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.triple-margin-top {
  margin-top: 84px !important; }

/* line 35, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.triple-margin-right {
  margin-right: 84px !important; }

/* line 38, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.triple-margin-bottom {
  margin-bottom: 84px !important; }

/* line 41, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.triple-margin-left {
  margin-left: 84px !important; }

/* line 44, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.half-margin-top {
  margin-top: 14px !important; }

/* line 47, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.half-margin-right {
  margin-right: 14px !important; }

/* line 50, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.half-margin-bottom {
  margin-bottom: 14px !important; }

/* line 53, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.half-margin-left {
  margin-left: 14px !important; }

/* line 56, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.quarter-margin-top {
  margin-top: 7px !important; }

/* line 59, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.quarter-margin-right {
  margin-right: 7px !important; }

/* line 62, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.quarter-margin-bottom {
  margin-bottom: 7px !important; }

/* line 65, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.quarter-margin-left {
  margin-left: 7px !important; }

/* line 68, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.no-margin {
  margin: 0px !important; }

/* line 71, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.no-margin-top {
  margin-top: 0px !important; }

/* line 74, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.no-margin-right {
  margin-right: 0px !important; }

/* line 77, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.no-margin-bottom {
  margin-bottom: 0px !important; }

/* line 80, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.no-margin-left {
  margin-left: 0px !important; }

/* line 83, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.large-margin-top {
  margin-top: 84px !important; }

/* line 88, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.padded {
  padding: 28px !important; }

/* line 91, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.quarter-padded {
  padding: 7px !important; }

/* line 94, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.half-padded {
  padding: 14px !important; }

/* line 97, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.padding-top {
  padding-top: 28px !important; }

/* line 100, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.padding-right {
  padding-right: 28px !important; }

/* line 103, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.padding-bottom {
  padding-bottom: 28px !important; }

/* line 106, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.padding-left {
  padding-left: 28px !important; }

/* line 109, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.double-padded {
  padding: 56px !important; }

/* line 112, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.double-padding-top {
  padding-top: 56px !important; }

/* line 115, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.double-padding-right {
  padding-right: 56px !important; }

/* line 118, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.double-padding-bottom {
  padding-bottom: 56px !important; }

/* line 121, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.double-padding-left {
  padding-left: 56px !important; }

/* line 124, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.triple-padding-top {
  padding-top: 84px !important; }

/* line 127, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.triple-padding-right {
  padding-right: 84px !important; }

/* line 130, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.triple-padding-bottom {
  padding-bottom: 84px !important; }

/* line 133, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.triple-padding-left {
  padding-left: 84px !important; }

/* line 136, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.no-padding {
  padding: 0px !important; }

/* line 139, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.no-padding-top {
  padding-top: 0px !important; }

/* line 142, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.no-padding-right {
  padding-right: 0px !important; }

/* line 145, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.no-padding-bottom {
  padding-bottom: 0px !important; }

/* line 148, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.no-padding-left {
  padding-left: 0px !important; }

/* line 151, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.half-padding {
  padding: 14px !important; }

/* line 154, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.half-padding-top {
  padding-top: 14px !important; }

/* line 157, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.half-padding-right {
  padding-right: 14px !important; }

/* line 160, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.half-padding-bottom {
  padding-bottom: 14px !important; }

/* line 163, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.half-padding-left {
  padding-left: 14px !important; }

/* line 166, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.quarter-padding {
  padding: 7px !important; }

/* line 169, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.quarter-padding-top {
  padding-top: 7px !important; }

/* line 172, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.quarter-padding-right {
  padding-right: 7px !important; }

/* line 175, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.quarter-padding-bottom {
  padding-bottom: 7px !important; }

/* line 178, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.quarter-padding-left {
  padding-left: 7px !important; }

/* line 184, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.border-bottom {
  border-bottom: 1px solid #E5E9EC; }

/* line 188, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.no-border-bottom {
  border-bottom: none !important; }

/* line 192, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.no-border-top {
  border-top: none !important; }

/* line 196, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
.no-border {
  border: none !important; }

@media (max-width: 992px) {
  /* line 204, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
  .no-padding-right-md {
    padding-right: 0 !important; } }
@media (max-width: 767px) {
  /* line 210, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
  .no-padding-right-sm {
    padding-right: 0 !important; }

  /* line 213, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
  .no-padding-sm {
    padding: 0 !important; }

  /* line 216, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_margin_padding_helpers.scss */
  .quarter-padding-sm {
    padding: 7px !important; } }
/* line 3, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_sections.scss */
section {
  padding: 28px 0; }
  /* line 5, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_sections.scss */
  section.invert-section {
    background: #00AEEF; }
  /* line 9, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_sections.scss */
  section.bg-cover {
    background: cenrer no-repeat 100%;
    background-size: cover;
    background-position: center center; }
  /* line 14, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_sections.scss */
  section.bg-off-white {
    background-color: #EEF4F8; }
  /* line 17, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_sections.scss */
  section.bg-white {
    background-color: #fff; }

/* line 1, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_panels_wells.scss */
.panel {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.06); }
  /* line 3, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_panels_wells.scss */
  .panel .panel-body {
    padding: 28px; }

/*! ========================================================================
 * Bootstrap Toggle: bootstrap-toggle.css v2.2.0
 * http://www.bootstraptoggle.com
 * ========================================================================
 * Copyright 2014 Min Hur, The New York Times Company
 * Licensed under MIT
 * ======================================================================== */
/* line 11, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_toggle.scss */
.checkbox label .toggle,
.checkbox-inline .toggle {
  margin-left: -20px;
  margin-right: 5px; }

/* line 17, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_toggle.scss */
.toggle {
  position: relative;
  overflow: hidden; }

/* line 21, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_toggle.scss */
.toggle input[type="checkbox"] {
  display: none; }

/* line 24, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_toggle.scss */
.toggle-group {
  position: absolute;
  width: 200%;
  top: 0;
  bottom: 0;
  left: 0;
  transition: left 0.35s;
  -webkit-transition: left 0.35s;
  -moz-user-select: none;
  -webkit-user-select: none; }

/* line 35, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_toggle.scss */
.toggle.off .toggle-group {
  left: -100%; }

/* line 38, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_toggle.scss */
.toggle-on {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 50%;
  margin: 0;
  border: 0;
  border-radius: 0; }

/* line 48, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_toggle.scss */
.toggle-off {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  right: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  color: #95A6B1 !important; }

/* line 59, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_toggle.scss */
.toggle-handle {
  position: relative;
  margin: 0 auto;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 100%;
  width: 0px;
  border-width: 0 1px; }

/* line 69, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_toggle.scss */
.toggle.btn {
  min-width: 59px;
  min-height: 34px; }

/* line 70, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_toggle.scss */
.toggle-on.btn {
  padding-right: 24px; }

/* line 71, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_toggle.scss */
.toggle-off.btn {
  padding-left: 24px; }

/* line 73, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_toggle.scss */
.toggle.btn-lg {
  min-width: 79px;
  min-height: 45px; }

/* line 74, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_toggle.scss */
.toggle-on.btn-lg {
  padding-right: 31px; }

/* line 75, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_toggle.scss */
.toggle-off.btn-lg {
  padding-left: 31px; }

/* line 76, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_toggle.scss */
.toggle-handle.btn-lg {
  width: 40px; }

/* line 78, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_toggle.scss */
.toggle.btn-sm {
  min-width: 50px;
  min-height: 30px; }

/* line 79, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_toggle.scss */
.toggle-on.btn-sm {
  padding-right: 20px; }

/* line 80, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_toggle.scss */
.toggle-off.btn-sm {
  padding-left: 20px; }

/* line 82, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_toggle.scss */
.toggle.btn-xs {
  min-width: 35px;
  min-height: 22px; }

/* line 83, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_toggle.scss */
.toggle-on.btn-xs {
  padding-right: 12px; }

/* line 84, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_toggle.scss */
.toggle-off.btn-xs {
  padding-left: 12px; }

/* line 89, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_toggle.scss */
.toggle.ios, .toggle-on.ios, .toggle-off.ios {
  border-radius: 100px; }

/* line 90, /Users/alauderdale/Desktop/plugin/source/stylesheets/partials/_toggle.scss */
.toggle.ios .toggle-handle {
  border-radius: 100px; }

/* line 1, /Users/alauderdale/Desktop/plugin/source/stylesheets/elements/_header.scss */
.primary-nav {
  padding: 28px 0;
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.11); }

/* line 7, /Users/alauderdale/Desktop/plugin/source/stylesheets/elements/_header.scss */
.primary-nav .navbar-brand {
  font-weight: 700;
  font-size: 26px;
  color: #637081; }
  /* line 11, /Users/alauderdale/Desktop/plugin/source/stylesheets/elements/_header.scss */
  .primary-nav .navbar-brand:hover {
    color: #637081; }
